.logo {
  height: 10rem; }

.navbar-light .navbar-nav .nav-link {
  color: green; }

.carousel {
  height: 400px; }
  .carousel .carousel-item {
    height: 400px;
    align-items: center; }
  .carousel .carousel-caption {
    color: black; }

.inicio-grid {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  grid-template-rows: repeat(10, 65px);
  column-gap: 14px;
  row-gap: 14px;
  justify-content: center;
  padding: 50px; }
  .inicio-grid a {
    color: white;
    text-decoration: none;
    align-content: right; }
  .inicio-grid .inicio-grid-img1 {
    grid-column: 1/5;
    grid-row: 2/11; }
  .inicio-grid .inicio-grid-img2 {
    grid-column: 6/13;
    grid-row: 2/6; }
  .inicio-grid .inicio-grid-img3 {
    grid-column: 6/9;
    grid-row: 7/11; }
  .inicio-grid .inicio-grid-img4 {
    grid-column: 10/13;
    grid-row: 7/11; }
  .inicio-grid img {
    height: 100%;
    width: 100%; }
  .inicio-grid .Inicio-grid-titulo {
    grid-column: 1/13;
    grid-row: 1/2;
    color: green;
    text-align: center; }
  .inicio-grid .inicio-grid-secciones {
    background-color: #cf9b60e0; }
  .inicio-grid .seccion1 {
    grid-column: 1/5;
    grid-row: 10/11; }
  .inicio-grid .seccion2 {
    grid-column: 6/13;
    grid-row: 5/6; }
  .inicio-grid .seccion3 {
    grid-column: 6/9;
    grid-row: 10/11; }
  .inicio-grid .seccion4 {
    grid-column: 10/13;
    grid-row: 10/11; }

.inicio-grid2 {
  justify-content: center;
  padding: 0 150px;
  background-color: #cf9c60;
  display: grid;
  grid-template-columns: repeat(12, 80px);
  grid-template-rows: repeat(12, 65px);
  column-gap: 13px;
  row-gap: 14px; }
  .inicio-grid2 .inicio-grid2-subtitulo {
    color: black;
    grid-column: 2/10;
    grid-row: 2/4; }
  .inicio-grid2 .inicio-grid2-box1 {
    grid-column: 2/6;
    grid-row: 9/12; }
    .inicio-grid2 .inicio-grid2-box1 img {
      width: 100%;
      height: 100%; }
  .inicio-grid2 .inicio-grid2-box2 {
    grid-column: 4/6;
    grid-row: 6/9; }
    .inicio-grid2 .inicio-grid2-box2 img {
      width: 100%;
      height: 100%; }
  .inicio-grid2 .inicio-grid2-box3 {
    grid-column: 6/11;
    grid-row: 5/10; }
    .inicio-grid2 .inicio-grid2-box3 img {
      width: 100%;
      height: 100%; }
  .inicio-grid2 .inicio-grid2-box4 {
    grid-column: 9/12;
    grid-row: 6/8;
    background-color: white;
    text-align: center;
    padding-top: 5%; }
  .inicio-grid2 .inicio-grid2-box5 {
    grid-column: 6/11;
    grid-row: 10/12; }
    .inicio-grid2 .inicio-grid2-box5 p {
      color: black;
      padding-left: 30px;
      font-size: 80%;
      text-align: left; }

.inicio-carta {
  padding: 50px; }

a {
  text-decoration: none; }

.prod__main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 1em; }

@media (max-width: 768px) {
  .prod__main {
    display: flex;
    flex-direction: column; } }

.prod__title {
  text-align: center;
  grid-column: 1 / 5;
  grid-row: 1; }

.prod__categorias {
  grid-row: 2;
  grid-column: 1;
  text-align: center; }
  .prod__categorias .list {
    list-style-type: none;
    padding: 0; }

.cat__button {
  color: #2E8654;
  padding: 0.3em;
  background-color: transparent;
  border: none; }

.prod__galeria {
  grid-column: 2 / 5;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap; }
  .prod__galeria .card {
    margin: 0.5em; }

.gal__cat {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.gal__title {
  width: 100%;
  text-align: center;
  margin: 1em 0; }

a {
  text-decoration: none; }
