@import './variables.scss';

.contacto{
    .form-control{
        background-color: burlywood;
        font-weight: bold;
    }
    ::placeholder{
        color:$color-sec;
    }
    .btn-flat{
        background-color: $color-sec;
        color: white;
    }

    .contacto_datos{
        background-color: $color-pri;
        color: burlywood;
        padding: 1em;
        border-radius: 1rem;
        p{
            margin-left: 0.5em;
        }
    }
}
