@import "./variables.scss";

.contacto {
	text-align: center;
	padding-right: 2.5em;
	.escribinos {
		padding: 1em;
		color: $color-focus;
		font-weight: bold;
	}
	.btn-flat {
		background-color: $color-sec;
		color: white;
	}

	.contacto_datos {
		background-color: $color-pri;
		color: white;
		padding: 1em;
		border-radius: 1rem;
		.con__datos {
			text-align: left;
		}
	}
}
