.footer-container{
    height: 280px;
    background-color:#e0ab6d ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;



    .footer-logo{
        img{
            height: 180px;
        }
    }
    .footer-text{
        color: #FEEDDA;
        display: flex;
        flex-direction: column;
        align-items: center;       
        
    }
    .footer-sections{
        display: flex;
        flex-direction: column;
        a{
            text-decoration: none;
            color: #885c3ebe;
        }
    }
}