@import "variables";

.span-top {
	text-align: center;
	background-color: $color-focus;
	color: white;
	font-weight: bold;
	width: 100vw;
	padding: 0.5rem 0;
}
.logo {
	height: 7rem;
}
.navbar {
	display: flex;
	justify-content: space-around;
}
.navbar-brand {
	margin: 0;
}
.navbar__cat {
    color: $color-pri;
		padding: 1em 0;
		&:focus, &:hover {
			color: $color-pri;
		}
	.nav-link {
		@extend .navbar__cat;
		border-top: $color-pri solid 1px;
		border-bottom: $color-pri solid 1px;
	}
	ul {
		li{
			padding: 0.3em 0;
		}
		.navcat {
			color: $color-sec;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}
.navbar__redes {
	padding: 0;
}
.nav-item {
	display: block;
	float: left;
	a {
		padding: 0.3em;
	}
}

.offcanvas {
	width: 70vw;
	.offcanvas-title {
		width: 50%;
		margin: 0 25%;
	}
	.canvas__close {
		align-self: flex-start;
	}
}
.nav-menu {
	display: none;
}

@media (min-width: 769px) {
	.nav-bars {
		display: none;
	}
	.nav-menu {
		align-self: flex-end;
		display: inline;
		.nav-link {
			color: $color-pri;
			text-transform: uppercase;
			font-weight: bold;
		}
		.active {
			color: $color-focus;
		}
	}
	.navbar__redes {
		align-self: flex-end;
	}
}

// .navbar-light .navbar-nav .nav-link{
//     color: $color-pri;
//     font-weight: bold;
//     text-transform: uppercase;
// }
// .navbar-light .navbar-nav .nav-link.active{
//     color: $color-focus;
// }
// .navbar-light .navbar-toggler{
//     background-color: $color-pri;
// }
// .navbar-light .navbar-toggler-icon{
//     background-color: $color-pri;
// }
