.carousel{
    height: 400px;
    .carousel-item{
        height: 400px;
        align-items: center;
    }
    .carousel-caption{
        color: black;
    }
}



.inicio-grid{
    display: grid;
    grid-template-columns: repeat(12, 80px);
    grid-template-rows: repeat(10, 65px);
    column-gap: 14px;
    row-gap: 14px;
    justify-content: center;
    padding: 50px;
    a{
        color: white;
        text-decoration: none;
        align-content: right;
    }

    .inicio-grid-img1{
        grid-column: 1/5;
        grid-row: 2/11;
    }
    .inicio-grid-img2{
        grid-column: 6/13;
        grid-row: 2/6;
    }
    .inicio-grid-img3{
        grid-column: 6/9;
        grid-row: 7/11;
    }

    .inicio-grid-img4{
        grid-column: 10/13;
        grid-row: 7/11;
    }
    img{
        height: 100%;
        width: 100%;
    }
    .Inicio-grid-titulo{
        grid-column: 1/13;
        grid-row: 1/2;
        color: green;
        text-align: center;
    }
    .inicio-grid-secciones{
        background-color: #cf9b60e0;
    }
    .seccion1{
        grid-column: 1/5;
        grid-row: 10/11;
    }
    .seccion2{
        grid-column: 6/13;
        grid-row: 5/6;
    }
    .seccion3{
        grid-column: 6/9;
        grid-row: 10/11;
    }
    .seccion4{
        grid-column: 10/13;
        grid-row: 10/11;
    }

}





.inicio-grid2{
    justify-content: center;
    padding: 0 150px;
    background-color: #cf9c60;
    display: grid;
    grid-template-columns: repeat(12,80px);
    grid-template-rows: repeat(12, 65px);
    column-gap: 13px;
    row-gap: 14px;
    .inicio-grid2-subtitulo{
        color: black;
        grid-column: 2/10;
        grid-row: 2/4;
    }
    .inicio-grid2-box1{
        grid-column: 2/6;
        grid-row: 9/12;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .inicio-grid2-box2{
        grid-column: 4/6;
        grid-row: 6/9;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .inicio-grid2-box3{
        grid-column: 6/11;
        grid-row: 5/10;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .inicio-grid2-box4{
        grid-column: 9/12;
        grid-row: 6/8;
        background-color: white;
        text-align: center;
        padding-top: 5%;
    }
    .inicio-grid2-box5{
        grid-column: 6/11;
        grid-row: 10/12;
        p{
            color: black;
            padding-left: 30px;
            font-size: 80%;
            text-align: left;
        }
    }
}



.inicio-carta{
    padding: 50px;
}