@import "./variables.scss";
body{
    overflow: hidden;
}
.prod__categorias {
	text-align: center;
	h2 {
		color: $color-pri;
	}
	.list {
		list-style-type: none;
		padding: 0;
		.cat__button {
			text-transform: uppercase;
			font-weight: 600;
		}
	}
}
.cat__button {
	color: $color-sec;
	padding: 0.3em;
	background-color: transparent;
	border: none;
}

// Galeria de productos
.prod__galeria {
	display: flex;
	flex-wrap: wrap;
	.gal__cat {
		display: flex;
		flex-flow: row wrap;
		justify-content: start;
		.card {
			margin: 0.3em;
			width: 23%;
			.card-title {
				text-transform: uppercase;
				color: $color-pri;
			}
		}
	}
}
.gal__title {
	width: 100%;
	text-align: center;
	margin: 1em 0;
	color: $color-sec;
}
@media (max-width: 770px) {
    .prod__categorias{
        display: none;
    }
	.prod__main {
		flex-direction: column;
		justify-content: space-around;
	}
	.prod__galeria {
		.gal__cat {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			.card {
                margin: 0;
				width: 200px;
			}
		}
	}
}
